<!DOCTYPE html>
<html>
  {% include head.html %}

  <body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>
    {% include trust_badge.html %}

    {{ content }}

    <section class="footer">
      <div class="container text-center">
        <h1>{{ site.event.name }}</h1>
        <h3>&copy; 2016 {{ site.event.name }}. Site by <a href="http://spru.sr">Scott Street</a>, based on <a href="https://github.com/MLH/mlh-hackathon-boilerplate">MLH Hackathon Boilerplate</a>.</h3>
      </div>
    </section>

    <script src="js/jquery-1.11.3.js"></script>

    {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  </body>
</html>
