<!DOCTYPE html>
<html>
  {% include head.html %}

  <body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>
    {% include trust_badge.html %}

    {{ content }}

    <section class="footer">
      <div class="container text-center">
        <h1>{{ site.event.footer.message }}</h1>
        <div class="social">
          <a href="https://twitter.com/{{ site.social.twitter_handle }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://facebook.com/{{ site.social.facebook_handle }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <h3>{{ site.event.footer.legal }}</h3>
      </div>
    </section>

    <div class="footer-goose"><img src="images/ah-goose.png" alt="The Aston campus is infested with geese, please send help"></div>


    <script src="js/jquery-1.11.3.js"></script>

    {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  </body>
</html>
